<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="card" *ngFor="let user of usuarios">
        <img [src]="user.avatar" class="card-img-top" alt="avatar">
        <div class="card-body">
            <h5 class="card-title"> {{ user.first_name }} {{ user.last_name}} </h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"> ID: {{ user.id }} </p>
        </div>
    </div>

</div>